@import url("https://fonts.googleapis.com/css?family=Cherry+Swash:400,700");
@font-face {
  font-family: "HelveticaLTStd";
  font-weight: 200;
  src: url("../fonts/HelveticaLT/HelveticaLTCondensedMedium.ttf"); }

@font-face {
  font-family: "HelveticaLTStd";
  font-weight: 300;
  src: url("../fonts/HelveticaLT/HelveticaLTStd-Light.otf"); }

@font-face {
  font-family: "HelveticaLTStd";
  font-weight: normal;
  src: url("../fonts/HelveticaLT/HelveticaLTStd-Roman.otf"); }

@font-face {
  font-family: "HelveticaLTStd";
  font-weight: bold;
  src: url("../fonts/HelveticaLT/HelveticaLTStd-Bold.otf"); }
